/***********************/
/*    HERO SECTION     */
/***********************/
.container-hero {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  position: relative;
  height: 65rem;
}

.hero-video-grid {
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  padding: 0 3.2rem;
  max-width: 130rem;
  margin: 0 auto;
  column-gap: 10rem;
}

.program-name {
  font-size: 2.25rem;
  line-height: 0.95;
  color: #cedddd;
  opacity: 0.85;
  grid-row: 1 / 3;
  padding: 6rem 0;
  justify-self: center;
}

.program-name span {
  font-size: 7rem;
  font-weight: 700;
  color: #cdf3ef;
}

.program-description {
  color: #cedddd;
  grid-column: 2;
  opacity: 1;
  justify-self: center;
  padding: 0rem 1rem 5rem 1rem;
}

.hero-logo {
  width: 50%;
  justify-self: center;
  padding-top: 5rem;
}

.hero-video-background {
  width: 100%;
  position: absolute;
  filter: brightness(65%);

  /*Does not need this anymore after setting position absolute?*/
  /* object-fit: cover; */
}

/* BOOTSTRAP */
/* .carousel-item img {
  border-radius: 60%;
  opacity: 0.85;
} */

/* .animated-text-container {
  font-size: 25rem;
  font-weight: 500;
  height: 100%;
  max-width: 130rem;
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  justify-content: center;
  align-items: center;
} */

/***********************/
/*  PARTNERS SECTION   */
/***********************/
.section-partners {
  padding: 4.8rem 0 3.2rem 0;
  max-width: 130rem;
  margin: 0 auto;
}

.partner-entities {
  padding: 0 5.2rem;
}

.partners-heading {
  font-size: 1.5rem;
  font-family: "Rubik", "sans-serif";
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin: 1.5rem 0 1.5rem 0;
  color: #888;
}

.partner-logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  align-items: center;
}

.partner-logo {
  height: 10rem;
  transition: all 0.3s;
}

.partner-logo.ecoexploratorio {
  height: 6rem;
}

.partner-logo.intermetro {
  height: 12.5rem;
  padding-bottom: 3rem;
}

.partner-logo.sam {
  height: 7rem;
  padding-top: 1rem;
}

.partner-logo.uprrum {
  height: 7.5rem;
}

.partner-logo:hover {
  transform: scale(1.1);
}

/***********************/
/*  PROGRAM SECTION    */
/***********************/
.section-program {
  padding: 0 5.2rem;
}

.container-program {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  padding: 5rem 0 10rem 0;
  margin: 0 auto;
  align-items: center;
  row-gap: 10rem;
  column-gap: 5rem;
  /* background-color: #cedddd; */
}

.section-program-title {
  grid-column: 1 / -1;
  font-size: 4rem;
}

.section-program-subheader {
  font-size: 3rem;
  font-weight: 500;
  display: block;
}

.program-section-image {
  width: 70%;
  border-radius: 60px;
  justify-self: center;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.301);

  /* Makes image seem more natural with the white background*/
  filter: contrast(90%);
}

.link-itinerary {
  display: block;
  text-align: center;
  justify-self: center;
  grid-column: 1 / -1;
}

/***********************/
/*   SECOND SECTION    */
/***********************/
.section-test {
  background-color: #e3f4f49c;
}

.team-container {
  /* background-color: #cedddd; */
  /* background-color: #e3f4f4; */
  /* background-color: #e3f4f49c; */
  background-color: transparent;
  max-width: 130rem;
  padding: 0 10rem;
  box-shadow: 0 0 0 none;
}

.ptest {
  text-align: center;
  font-size: 3.5rem;
  margin: 4rem 0;
  padding-top: 5rem;
}

.members-grid {
  padding: 5rem 0 5rem 0;
}

.team-overview {
  padding-left: 5rem;
  padding-right: 5rem;
}
