/***********************/
/*    HERO SECTION     */
/***********************/
.container-hero {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  position: relative;
  height: 65rem;
}

.hero-video-grid {
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  padding: 0 3.2rem;
  max-width: 130rem;
  margin: 0 auto;
  column-gap: 10rem;
}

.program-name {
  font-size: 2.25rem;
  line-height: 0.95;
  color: #cedddd;
  opacity: 0.85;
  grid-row: 1 / 3;
  padding: 6rem 0;
  justify-self: center;
}

.program-name span {
  font-size: 7rem;
  font-weight: 700;
  color: #cdf3ef;
}

.program-description {
  color: #cedddd;
  grid-column: 2;
  opacity: 1;
  justify-self: center;
  padding: 0rem 1rem 5rem 1rem;
}

.hero-logo {
  width: 50%;
  justify-self: center;
  padding-top: 5rem;
}

.hero-video-background {
  width: 100%;
  position: absolute;
  filter: brightness(65%);

  /*Does not need this anymore after setting position absolute?*/
  /* object-fit: cover; */
}

/* BOOTSTRAP */
/* .carousel-item img {
  border-radius: 60%;
  opacity: 0.85;
} */

/* .animated-text-container {
  font-size: 25rem;
  font-weight: 500;
  height: 100%;
  max-width: 130rem;
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  justify-content: center;
  align-items: center;
} */

/***********************/
/*  PARTNERS SECTION   */
/***********************/
.section-partners {
  padding-top: 4.8rem;
  max-width: 130rem;
  margin: 0 auto;
}

.partner-entities {
  padding: 0 5.2rem;
}

.partners-heading {
  font-size: 1.5rem;
  font-family: "Rubik", "sans-serif";
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin: 1.5rem 0 1.5rem 0;
  /* color: #888; */
  color: #084141d3;
}

.partner-logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  align-items: center;
}

.partner-logo {
  height: 10rem;
  transition: all 0.3s;
}

.partner-logo.ecoexploratorio {
  height: 6rem;
}

.partner-logo.intermetro {
  height: 12.5rem;
  padding-bottom: 3rem;
}

.partner-logo.sam {
  height: 7rem;
  padding-top: 1rem;
}

.partner-logo.uprrum {
  height: 7.5rem;
}

.partner-logo:hover {
  transform: scale(1.1);
}

/***********************/
/*  PROGRAM SECTION    */
/***********************/
.section-program {
  padding: 5rem 5.2rem 0 5.2rem;
}

.container-of-section-program {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  padding: 5rem 0 10rem 0;
  margin: 0 auto;
  align-items: center;
  row-gap: 7.5rem;
  column-gap: 5rem;
  /* background-color: #cedddd; */
}

.section-program-title {
  grid-column: 1 / -1;
}

.section-program-subheader {
  font-size: 3rem;
  font-weight: 500;
  display: block;
  color: #084141d3;
}

.program-section-image {
  width: 70%;
  border-radius: 60px;
  justify-self: center;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.301);

  /* Makes image seem more natural with the white background*/
  filter: contrast(90%);
}

.link-itinerary {
  display: block;
  text-align: center;
  justify-self: center;
  grid-column: 1 / -1;
}

/***********************/
/*     TEAM SECTION    */
/***********************/
.section-team {
  padding: 2rem 5.2rem 0 5.2rem;
  background-color: #e3f4f49c;
}

.container-of-section-team {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 130rem;
  padding: 8rem 0 10rem 0;
  row-gap: 5rem;
  margin: 0 auto;
  background-color: transparent;
  justify-items: center;
}

.team-group-image {
  width: 90%;
  border-radius: 60px;
  margin-bottom: 2rem;
}

/***********************/
/* NEWS/EVENTS SECTION */
/***********************/
.section-news-events {
  padding: 10rem 5.2rem 0 5.2rem;
}

.container-of-section-news-events {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  row-gap: 7.5rem;
  margin-bottom: 8rem;
}

.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  /* centering after 95% width so it doesn't stick out of photo*/
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.164);

  /* So I can click through the background to the image link */
  pointer-events: none;
}

.carousel-caption {
  /* So I can click on photo through text and still go to link */
  pointer-events: none;
}

.carousel-caption p {
  font-size: 4rem;
  font-weight: 500;
  text-align: left;
  line-height: 1;

  /* To see text better on top of image*/
  background-color: rgba(0, 0, 0, 0.2);

  /* Shadow with high blur to soften the edges of the p due to the background-color */
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.418);
}
