/**************************/
/*      BELOW 1344px      */
/**************************/
@media (max-width: 84em) {
  /********** GENERAL ***********/
  html {
    font-size: 56.25%;
  }
}

/**************************/
/*       BELOW 1200px     */
/**************************/
@media (max-width: 75em) {
  /********** GENERAL ***********/
  html {
    font-size: 50%;
  }

  .main-nav-list {
    gap: 6.5rem;
  }
}

/**************************/
/*      BELOW 1040px      */
/**************************/
@media (max-width: 65em) {
  /********** GENERAL ***********/
  .main-nav-list {
    gap: 4.5rem;
  }

  /********* MAIN PAGE **********/
  .program-section-image {
    width: 85%;
  }

  /* Logos height property set to 15% smaller than original size */
  .partner-logo {
    height: 8.5rem;
    transition: all 0.3s;
  }

  .partner-logo.ecoexploratorio {
    height: 5rem;
  }

  .partner-logo.intermetro {
    height: 10.5rem;
    padding-bottom: 3rem;
  }

  .partner-logo.sam {
    height: 6rem;
    padding-top: 1rem;
  }

  .partner-logo.uprrum {
    height: 6.3rem;
  }

  .carousel-caption p {
    font-size: 2.8rem;
  }

  /********** TEAM PAGE *********/
  .team-container {
    padding: 6rem 8rem;
  }
}

/**************************/
/*       BELOW 944px      */
/**************************/
@media (max-width: 59em) {
  /********** GENERAL ***********/
  /* CREATING MOBILE NAVIGATION */
  .btn-mobile-nav {
    /* Shows mobile navigation button */
    display: block;

    /* So that menu/close button shows on top of nav menu when it is open*/
    z-index: 9999;
  }

  .main-nav-list {
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.979);

    /* Positioning it relative to .main-header */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    /* Want it to occupy the whole viewport */
    height: 100vh;

    /* To allow the mobile menu to "sweep in" from the side */
    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    transition: all 0.5s;

    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) hides navigation visually */
    opacity: 0;

    /* 2) makes it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* Hides it from screen readers */
    visibility: hidden;
  }

  /* nav-open class added through javascript when
    .btn-mobile-nav is clicked*/
  .nav-open .main-nav-list {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    /* So mobile menu "sweeps back in" from the side */
    transform: translateX(0);
  }

  /* Changes .btn-mobile-nav icon to the close icon once .nav-open is on, meaning that the
  .btn-mobile-nav has been clicked and the menu is currently open */
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  /* So that the menu icon does not show when the menu is already open, instead,
  the close-menu icon will be show */
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
    border-top: 1px solid rgba(196, 109, 77, 0.842);
  }

  /* REARRANGEMENT TO ALLOW FOR PROPER PLACING OF SUBLINKS IN MOBILE NAVIGATION */
  .main-nav-list-item {
    width: 75%;
  }

  .nav-open .submenu-list {
    display: flex;
    padding: 0;
  }

  .nav-open .main-nav-sublink {
    padding-left: 4rem;
  }

  .nav-open .main-nav-list-item:hover .submenu-list {
    display: flex;
    flex-direction: row;
  }

  /********* MAIN PAGE **********/
  .main-header {
    padding: 0.2rem 2.6rem 0.2rem 2.6rem;
  }

  .hero-video-background {
    width: 130%;
  }

  .hero-logo {
    width: 65%;
  }

  .partner-entities {
    padding: 0 2.6rem;
  }

  .partner-logos {
    margin-bottom: 2rem;
  }

  /* Logos height property set to 15% smaller than previous query size */
  .partner-logo {
    height: 7.2rem;
    transition: all 0.3s;
  }

  .partner-logo.ecoexploratorio {
    height: 4.25rem;
  }

  .partner-logo.intermetro {
    height: 9rem;
    padding-bottom: 2rem;
  }

  .partner-logo.sam {
    height: 5rem;
    padding-top: 1rem;
  }

  .partner-logo.uprrum {
    height: 5.3rem;
  }

  .program-section-image {
    width: 110%;
  }

  .container-of-section-program {
    row-gap: 5rem;
  }

  /********* TEAM PAGE **********/
  .team-container {
    padding: 6rem 7rem;
  }

  .members-grid {
    row-gap: 0;
    padding: 8rem 0 0 0;
  }

  .member-profile {
    flex-direction: row;
    grid-column: 1 / -1;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .member-photo {
    width: 35%;
    margin-right: 3rem;
  }

  .member-name strong {
    font-size: 3.3rem;
    text-align: left;
  }

  .member-name {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .member-info {
    grid-column: 1 / -1;
    margin-bottom: 10rem;
  }

  .member-info:last-child {
    margin-bottom: 0;
  }
}

/**************************/
/*       BELOW 704px      */
/**************************/
@media (max-width: 44em) {
  /********** GENERAL ***********/
  /*MAKING MOBILE NAVIGATION SMALLER*/
  .main-nav-list-item {
    width: 80%;
  }

  .nav-open .main-nav-link {
    font-size: 2.3rem;
  }

  .nav-open .main-nav-sublink {
    padding-left: 3.5rem;
  }

  .main-nav-sublink {
    font-size: 1.9rem;
  }

  /********* MAIN PAGE **********/
  .main-header {
    padding: 0.2rem 1.2rem 0.2rem 1.2rem;
  }

  .hero-video-background {
    width: 160%;
  }

  .hero-video-grid {
    column-gap: 5.5rem;
    padding: 0 1.2rem;
    grid-template-columns: 1fr 1.8fr;
  }

  .program-name {
    font-size: 2rem;
  }

  .program-name span {
    font-size: 6.2rem;
  }

  .program-description {
    font-size: 1.7rem;
  }

  .hero-logo {
    width: 75%;
  }

  .partner-entities {
    padding: 0 1.2rem;
  }

  /* Logos height property set to 17% smaller than previous query size */
  .partner-logo {
    height: 6rem;
    transition: all 0.3s;
  }

  .partner-logo.ecoexploratorio {
    height: 3.5rem;
  }

  .partner-logo.intermetro {
    height: 7.5rem;
    padding-bottom: 2rem;
  }

  .partner-logo.sam {
    height: 4.15rem;
    padding-top: 0.5rem;
  }

  .partner-logo.uprrum {
    height: 4.4rem;
  }

  .section-program {
    padding: 6.5rem 1.2rem 0 1.2rem;
  }

  .container-of-section-program {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .section-title {
    font-size: 3rem;
  }

  .section-program-subheader {
    font-size: 2.5rem;
  }

  .program-section-image {
    width: 65%;
    margin-top: 5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.301);
  }

  .program-image1 {
    grid-row: 2;
  }

  .program-image3 {
    grid-row: 6;
  }

  .section-team {
    padding: 6.5rem 1.2rem 0 1.2rem;
  }

  .container-of-section-team {
    padding: 2.8rem 0 7rem 0;
  }

  .team-group-image {
    margin-bottom: 0;
  }

  .section-news-events {
    padding: 9rem 1.2rem 0 1.2rem;
  }

  /********* TEAM PAGE **********/
  .team-container {
    padding: 6rem 4rem;
  }

  .member-photo {
    width: 40%;
  }

  .member-name strong {
    font-size: 2.6rem;
  }

  .member-name {
    font-size: 2.2rem;
  }
}

/**************************/
/*       BELOW 560px      */
/**************************/
@media (max-width: 35em) {
  /********** GENERAL ***********/
  body {
    font-size: 1.7rem;
  }

  .main-header {
    padding: 0.2rem 1.2rem 0.2rem 1.2rem;
  }

  /*MAKING MOBILE NAVIGATION SMALLER*/
  .main-nav-list-item {
    width: 105%;
  }

  .nav-open .main-nav-sublink {
    padding-left: 2rem;
  }

  .main-nav-sublink {
    font-size: 1.7rem;
  }

  /********** MAIN PAGE *********/
  .container-hero {
    height: 55rem;
  }

  .hero-video-background {
    width: 250%;
  }

  .hero-video-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .program-name {
    font-size: 1.6rem;
    grid-row: 1 / 2;
    line-height: 1.1;
  }

  .program-name span {
    font-size: 3rem;
  }

  .program-description {
    grid-column: 1 / -1;
    padding-bottom: 6rem;
  }

  .hero-logo {
    width: 80%;
    padding-bottom: 5rem;
  }

  .section-partners {
    padding-top: 3rem;
  }

  .partners-heading {
    font-size: 1.4rem;
  }

  .partner-logos {
    padding-bottom: 0;
  }

  /* Logos height property set to 40% smaller than previous query size */
  .partner-logo {
    height: 2.35rem;
    transition: all 0.3s;
  }

  .partner-logo.ecoexploratorio {
    height: 1.4rem;
  }

  .partner-logo.intermetro {
    height: 4.5rem;
    padding-bottom: 1rem;
  }

  .partner-logo.sam {
    height: 1.65rem;
    padding-top: 0.25rem;
  }

  .partner-logo.uprrum {
    height: 1.75rem;
  }

  .section-program {
    padding: 7.1rem 1.2rem 0 1.2rem;
  }

  .container-of-section-program {
    padding: 2rem 0 10rem 0;
  }

  .section-title {
    font-size: 2.2rem;
  }

  .section-program-subheader {
    font-size: 2.3rem;
    padding-bottom: 0.25rem;
  }

  .program-section-image {
    border-radius: 30px;
    margin-top: 2.5rem;
  }

  .section-team {
    padding: 6.5rem 1.2rem 0 1.2rem;
  }

  .container-of-section-team {
    row-gap: 3rem;
    padding: 2.8rem 0 6rem 0;
  }

  .team-group-image {
    border-radius: 30px;
  }

  .link-team {
    margin-top: 1rem;
  }

  .section-news-events {
    padding: 7rem 1.2rem 0 1.2rem;
  }

  /********** TEAM PAGE *********/
  .team-container {
    padding: 6rem 1.6rem;
  }

  .members-grid {
    padding: 6rem 0 0 0;
  }

  .member-photo {
    width: 45%;
    margin-right: 1.3rem;
  }

  .member-name strong,
  .member-name {
    font-size: 1.9rem;
  }

  .member-info {
    margin-bottom: 6rem;
  }
}

/****** CAROUSEL QUERIES ****/
/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) {
  /* Show 4th slide on md if col-md-4*/
  .carousel-inner
    .active.col-md-6.carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%; /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }

  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner .active + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item {
    transition: none;
  }

  .carousel-item {
    margin-right: 0;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
